<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>EmployeerLogin</servlet-name>
  	<display-name>EmployeerLogin</display-name>
  	<description></description>
  	<servlet-class>job.controller.EmployeerLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeerRegistration</servlet-name>
  	<display-name>EmployeerRegistration</display-name>
  	<description></description>
  	<servlet-class>job.controller.EmployeerRegistration</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployerLogout</servlet-name>
  	<display-name>EmployerLogout</display-name>
  	<description></description>
  	<servlet-class>job.controller.EmployerLogout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>JobSeakers</servlet-name>
  	<display-name>JobSeakers</display-name>
  	<description></description>
  	<servlet-class>job.controller.JobSeakers</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>JobSeekerLogin</servlet-name>
  	<display-name>JobSeekerLogin</display-name>
  	<description></description>
  	<servlet-class>job.controller.JobSeekerLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>JobPost</servlet-name>
  	<display-name>JobPost</display-name>
  	<description></description>
  	<servlet-class>job.controller.JobPost</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ApplyJob</servlet-name>
  	<display-name>ApplyJob</display-name>
  	<description></description>
  	<servlet-class>job.controller.ApplyJob</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLogin</servlet-name>
  	<display-name>AdminLogin</display-name>
  	<description></description>
  	<servlet-class>job.controller.AdminLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FileDownload</servlet-name>
  	<display-name>FileDownload</display-name>
  	<description></description>
  	<servlet-class>job.controller.FileDownload</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ApplyJobFinal</servlet-name>
  	<display-name>ApplyJobFinal</display-name>
  	<description></description>
  	<servlet-class>job.controller.ApplyJobFinal</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>JobSeekerLogout</servlet-name>
  	<display-name>JobSeekerLogout</display-name>
  	<description></description>
  	<servlet-class>job.controller.JobSeekerLogout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AllowJobs</servlet-name>
  	<display-name>AllowJobs</display-name>
  	<description></description>
  	<servlet-class>job.controller.AllowJobs</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DownloadResume</servlet-name>
  	<display-name>DownloadResume</display-name>
  	<description></description>
  	<servlet-class>job.controller.DownloadResume</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShortListed</servlet-name>
  	<display-name>ShortListed</display-name>
  	<description></description>
  	<servlet-class>job.controller.ShortListed</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AAA</servlet-name>
  	<display-name>AAA</display-name>
  	<description></description>
  	<servlet-class>job.controller.AAA</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SchemeBuy</servlet-name>
  	<display-name>SchemeBuy</display-name>
  	<description></description>
  	<servlet-class>job.controller.SchemeBuy</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemoveJobs</servlet-name>
  	<display-name>RemoveJobs</display-name>
  	<description></description>
  	<servlet-class>job.controller.RemoveJobs</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditJobs</servlet-name>
  	<display-name>EditJobs</display-name>
  	<description></description>
  	<servlet-class>job.controller.EditJobs</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EmployeerLogin</servlet-name>
  	<url-pattern>/EmployeerLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeerRegistration</servlet-name>
  	<url-pattern>/EmployeerRegistration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployerLogout</servlet-name>
  	<url-pattern>/EmployerLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>JobSeakers</servlet-name>
  	<url-pattern>/JobSeakers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>JobSeekerLogin</servlet-name>
  	<url-pattern>/JobSeekerLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>JobPost</servlet-name>
  	<url-pattern>/JobPost</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApplyJob</servlet-name>
  	<url-pattern>/ApplyJob</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLogin</servlet-name>
  	<url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FileDownload</servlet-name>
  	<url-pattern>/FileDownload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApplyJobFinal</servlet-name>
  	<url-pattern>/ApplyJobFinal</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>JobSeekerLogout</servlet-name>
  	<url-pattern>/JobSeekerLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AllowJobs</servlet-name>
  	<url-pattern>/AllowJobs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DownloadResume</servlet-name>
  	<url-pattern>/DownloadResume</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShortListed</servlet-name>
  	<url-pattern>/ShortListed</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AAA</servlet-name>
  	<url-pattern>/AAA</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SchemeBuy</servlet-name>
  	<url-pattern>/SchemeBuy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveJobs</servlet-name>
  	<url-pattern>/RemoveJobs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditJobs</servlet-name>
  	<url-pattern>/EditJobs</url-pattern>
  </servlet-mapping>
</web-app>
