<!-- <!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" > -->
 
<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
         version="2.5" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"> 
         
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>EmployeerLogin</servlet-name>
  	<servlet-class>job.controller.EmployeerLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeerRegistration</servlet-name>
  	<servlet-class>job.controller.EmployeerRegistration</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployerLogout</servlet-name>
  	<servlet-class>job.controller.EmployerLogout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>JobSeakers</servlet-name>
  	<servlet-class>job.controller.JobSeakers</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>JobSeekerLogin</servlet-name>
  	<servlet-class>job.controller.JobSeekerLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>JobPost</servlet-name>
  	<servlet-class>job.controller.JobPost</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ApplyJob</servlet-name>
  	<servlet-class>job.controller.ApplyJob</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLogin</servlet-name>
  	<servlet-class>job.controller.AdminLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FileDownload</servlet-name>
  	<servlet-class>job.controller.FileDownload</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ApplyJobFinal</servlet-name>
  	<servlet-class>job.controller.ApplyJobFinal</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>JobSeekerLogout</servlet-name>
  	<servlet-class>job.controller.JobSeekerLogout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AllowJobs</servlet-name>
  	<servlet-class>job.controller.AllowJobs</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DownloadResume</servlet-name>
  	<servlet-class>job.controller.DownloadResume</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShortListed</servlet-name>
  	<servlet-class>job.controller.ShortListed</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AAA</servlet-name>
  	<servlet-class>job.controller.AAA</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SchemeBuy</servlet-name>
  	<servlet-class>job.controller.SchemeBuy</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemoveJobs</servlet-name>
  	<servlet-class>job.controller.RemoveJobs</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditJobs</servlet-name>
  	<servlet-class>job.controller.EditJobs</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmpJobPost</servlet-name>
  	<servlet-class>job.controller.EmpJobPost</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EmployeerLogin</servlet-name>
  	<url-pattern>/EmployeerLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeerRegistration</servlet-name>
  	<url-pattern>/EmployeerRegistration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployerLogout</servlet-name>
  	<url-pattern>/EmployerLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>JobSeakers</servlet-name>
  	<url-pattern>/JobSeakers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>JobSeekerLogin</servlet-name>
  	<url-pattern>/JobSeekerLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>JobPost</servlet-name>
  	<url-pattern>/JobPost</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApplyJob</servlet-name>
  	<url-pattern>/ApplyJob</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLogin</servlet-name>
  	<url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FileDownload</servlet-name>
  	<url-pattern>/FileDownload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApplyJobFinal</servlet-name>
  	<url-pattern>/ApplyJobFinal</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>JobSeekerLogout</servlet-name>
  	<url-pattern>/JobSeekerLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AllowJobs</servlet-name>
  	<url-pattern>/AllowJobs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DownloadResume</servlet-name>
  	<url-pattern>/DownloadResume</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShortListed</servlet-name>
  	<url-pattern>/ShortListed</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AAA</servlet-name>
  	<url-pattern>/AAA</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SchemeBuy</servlet-name>
  	<url-pattern>/SchemeBuy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveJobs</servlet-name>
  	<url-pattern>/RemoveJobs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditJobs</servlet-name>
  	<url-pattern>/EditJobs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmpJobPost</servlet-name>
  	<url-pattern>/emp/EmpJobPost</url-pattern>
  </servlet-mapping>
  
<filter>
 <filter-name>EmployeerFilter</filter-name>
 <filter-class>job.model.EmployeerFilter</filter-class>
 </filter>
<filter-mapping>
<filter-name>EmployeerFilter</filter-name>
<url-pattern>/emp/*</url-pattern>
</filter-mapping>  
</web-app>
